<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizard de Pedidos - Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="pedido.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container pt-1 pb-2">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                
               

                <!-- Conteúdo das Etapas -->
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0" id="stepTitle">
                            <i class="bi bi-person-fill me-2"></i>
                           {{ obterTituloEtapa(passoAtual)}} 
                        </h4>
                    </div>
                    <div class="card-body">
                        <!-- Etapa 1: Dados do Cliente -->
                    @if(mostrarPasso(passo1)) {
                          
                        <div id="step1" class="wizard-step "  [class.d-none]="passoAtual!=passo1"  >
                            <form id="clientForm" novalidate  name="clientForm">
                                <div class=" mb-3">
                                    <label for="nome" class="form-label">Nome Completo <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="nome" placeholder="Nome Cliente" required [(ngModel)]="dadosCliente.nome" name="nome">
                                    <div class="invalid-feedback">
                                        Por favor, informe seu nome completo.
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="telefone" class="form-label">Telefone <span
                                                class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                                                <input type="tel" class="form-control" id="telefone"
                                                    placeholder="(99) 99999-9999" required [(ngModel)]="dadosCliente.telefone" name="telefone"
                                                    mask="(00) 00000-0000">
                                            <div class="invalid-feedback">
                                                Por favor, informe o telefone.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="cep" class="form-label">CEP</label>
                                        <input type="text" class="form-control" id="cep" placeholder="00000-000" mask="00000-000" [(ngModel)]="dadosCliente.cep" name="cep">
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="endereco" class="form-label">Endereço  <span
                                                class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
                                        <input type="text" class="form-control" id="endereco" [(ngModel)]="dadosCliente.endereco" name="endereco"
                                            placeholder="Rua, número, bairro" required>
                                            <div class="invalid-feedback">
                                                Por favor, informe o endereco.
                                            </div>
                                    </div>
                                    
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="bairro" class="form-label">Bairro <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="bairro" placeholder="Seu Bairro" [(ngModel)]="dadosCliente.bairro" name="bairro">
                                          <div class="invalid-feedback">
                                                Por favor, informe o bairro.
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="complemento" class="form-label">Complemento</label>
                                        <input type="text" class="form-control" id="complemento" placeholder="em frente a uma .." [(ngModel)]="dadosCliente.complemento" name="complemento">

                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="cidade" class="form-label">Cidade <span
                                                class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="cidade" placeholder="Sua cidade" [(ngModel)]="dadosCliente.cidade" name="cidade">
                                        <div class="invalid-feedback">
                                            Por favor, informe a cidade.
                                        </div>
                                </div>
                            </form>
                        </div>
                    }

                    @if(mostrarPasso(passo2)) {

                    
                        <!-- Etapa 2: Pedido -->
                        <div id="step2" class="wizard-step" [class.d-none]="passoAtual!=passo2">
                            <div class="row">
                                <div class="col-md-12">
                                        <div class="mb-3">
                                        <label for="categoriaSelect" class="form-label">Selecione uma Categoria de produto</label>
                                        <select id="categoriaSelect" class="form-select w-50" (change)="onCategoriaChange($event)">
                                            <option  value="" selected>Escolha uma categoria</option>
                                            @for (categoria of dadosCategoria; track $index) {
                                                <option value="{{categoria.id}}">{{categoria.descricao}}</option>
                                            }
                                            
                                        </select>
                                    </div> 
                                        <div class="mb-1">
                                        <label for="produtoSelect" class="form-label">Selecione um Produto</label>
                                        <select id="produtoSelect" class="form-select w-50"   (change)="onChangeProduto($event)" [(ngModel)]="idProdutoSelecionado" name="produtoSelect">
                                            <option  value="" selected>Escolha um produto</option>
                                            @for (produto of produtosFiltrados; track $index) {
                                                <option value="{{produto.idProduto}}">{{produto.nome}} </option>
                                            }
                                        </select>
                                    </div> 
                                    @if (produtoKitFestaSelecionado) {
                                    <div class="mb-3">
                                        <input type="checkbox" class="form-check-input" name="especificarItensKit" id="especificarItensKit" (change)="onEspecificarItensKit()">
                                        <label for="especificarItensKit" class="form-check-label ms-2">Quero especificar os itens do kit</label>
                                    </div>
                                    }
                                     @if (exibirSelecaoMedidaCopoUnidade) {
                                    <div class="mb-3">
                                        <div class="d-flex gap-4 align-items-center">
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" value="100" [(ngModel)]="valorSelecionadoMedida" name="chkMedida" checked>
                                                <label for="medidaCento" class="form-check-label ms-1">Cento</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" value="50" [(ngModel)]="valorSelecionadoMedida" name="chkMedida" >
                                                <label for="meioCento" class="form-check-label ms-1">Meio cento</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" value="12" [(ngModel)]="valorSelecionadoMedida" name="chkMedida">
                                                <label for="medidaCopo" class="form-check-label ms-1">Copo(12 unid)</label>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                    <div class="mb-3">
                                        <button class="btn btn-primary" type="button" (click)="onAdicionarProduto()"> Adicionar</button>               
                                    </div>
                            <div class="mb-3">
                                <h5>Produtos do Pedido</h5>
                            @if (produtosPedido.length > 0) {
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Produto</th>
                                            <th>Quantidade</th>
                                            <th>Valor Unitário</th>
                                            <th>Total</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (item of produtosPedido; track $index) {
                                            <tr>
                                                <td class="w-25">{{item.produto.nome}}</td>
                                                <td >
                                                    <input type="number"  class="form-control w-50"  [(value)]="item.quantidade" (input)="onAlterarQuantidade(item.produto.idProduto, +getInputValue($event))">
                                                </td>
                                                <td>R$ {{item.produto.valor | number:'1.2-2'}}</td>
                                                <td>R$ {{(item.produto.valor * item.quantidade) | number:'1.2-2'}}</td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm" (click)="onRemoverProduto(item.produto.idProduto)"><i class="bi bi-trash"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }@else {
                                    <div class="mt-3">
                                         <div class="text-muted">Nenhum produto adicionado ao pedido.</div>
                                    </div>
                                }
                               
                            </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label fw-medium">Tipo de Entrega</label>
                                    <div class="mt-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tipoEntrega" id="balcao"
                                                [checked]="!isDelivery" [value]="false" [(ngModel)]="isDelivery">
                                            <label class="form-check-label" for="balcao">
                                                <i class="bi bi-shop me-1"></i> Retirar no Balcão
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tipoEntrega" id="delivery"
                                                   [checked]="isDelivery" [value]="true" [(ngModel)]="isDelivery">
                                            <label class="form-check-label" for="delivery">
                                                <i class="bi bi-truck me-1"></i> Delivery
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fw-medium">Forma de Pagamento</label>
                                    <div class="mt-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pagamento" id="dinheiro"
                                                value="dinheiro" checked [(ngModel)]="formaPagamento" name="formaPagamento">
                                            <label class="form-check-label" for="dinheiro">
                                                <i class="bi bi-cash me-1"></i> Dinheiro
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pagamento" id="cartao"
                                                value="cartao" [(ngModel)]="formaPagamento" name="formaPagamento">
                                            <label class="form-check-label" for="cartao">
                                                <i class="bi bi-credit-card me-1"></i> Cartão
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pagamento" id="pix"
                                                value="pix" [(ngModel)]="formaPagamento" name="formaPagamento">
                                            <label class="form-check-label" for="pix">
                                                <i class="bi bi-qr-code me-1"></i> PIX
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="observacoes" class="form-label">Observações</label>
                                <textarea class="form-control" id="observacoes" rows="3"
                                    placeholder="Observações especiais sobre o pedido..." [(ngModel)]="observacaoPedido"></textarea>
                            </div>
                        </div>
                    }
                    @if(mostrarPasso(passo3)) {
                        <!-- Etapa 3: Finalização -->
                        <div id="step3" class="wizard-step" [class.d-none]="passoAtual!=passo3">
                            <div class="text-center mb-4">
                                <i class="bi bi-check-circle-fill text-success" style="font-size: 4rem;"></i>
                                <h3 class="mt-3 mb-2">Confirme seu Pedido</h3>
                                <p class="text-muted">Revise os dados antes de finalizar</p>
                            </div>

                            <!-- Resumo dos Dados do Cliente -->
                            <div class="card mb-3">
                                <div class="card-header bg-light">
                                    <h6 class="mb-0"><i class="bi bi-person me-2"></i>Dados do Cliente</h6>
                                </div>
                                <div class="card-body">
                                    <div id="clientSummary" class="row g-3 align-items-center justify-content-between">
                                        <div class="col-md-12">
                                            <strong>Nome:</strong> {{ dadosCliente.nome }}
                                        </div>
                                        <div class="col-md-12">
                                            <strong>Endereço:</strong> {{ dadosCliente.endereco }}
                                        </div>
                                        <div class="col-md-4">
                                            <strong>Bairro:</strong> {{ dadosCliente.bairro }}
                                        </div>
                                        <div class="col-md-4">
                                            <strong>Cidade:</strong> {{ dadosCliente.cidade }}
                                        </div>
                                        <div class="col-md-4">
                                            <strong>Cep:</strong> {{ dadosCliente.cep| mask:'00000-000' }}
                                        </div>
                                        <div class="col-md-12">
                                            <strong>Telefone:</strong> {{ dadosCliente.telefone | mask:'(00) 00000-0000' }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Resumo do Pedido -->
                            <div class="card mb-3">
                                <div class="card-header bg-light">
                                    <h6 class="mb-0"><i class="bi bi-cart me-2"></i>Resumo do Pedido</h6>
                                </div>
                                <div class="card-body">
                                    <div id="orderSummary" class="row g-3 align-items-center justify-content-between">
                                        @for (item of produtosPedido; track $index) {
                                            <div class="col-md-6">
                                                <strong>Produto:</strong> {{ item.produto.nome }}
                                            </div>
                                            <div class="col-md-6">
                                                <strong>Quantidade:</strong> {{ item.quantidade }}
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    }
                    </div>
                    <!-- Botões de Navegação -->
                    <div class="card-footer bg-light">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-outline-secondary" id="prevBtn" (click)="anterior()">
                                <i class="bi bi-arrow-left me-1"></i> Anterior
                            </button>
                            @if(passo3==passoAtual){
                                <button type="button" (click)="onClicarConfirmar()" class="btn btn-primary" id="nextBtn" data-bs-toggle="modal" data-bs-target="#successModal">
                                Confirmar <i class="bi bi-check-circle-fill ms-1"></i>
                                </button>
                            }@else{
                                <button type="button" class="btn btn-primary" id="nextBtn" (click)="proximo()">
                                Próximo <i class="bi bi-arrow-right ms-1"></i>
                            </button>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tela de Sucesso (não modal) -->
     @if(exibirTelaSucesso) {
        <div  class="fixed-top d-flex align-items-center justify-content-center" style="background: rgba(0,0,0,0.3); min-height: 100vh; z-index: 9999;">
            <div class="card shadow-lg text-center p-4" style="max-width: 350px;">
                <i class="bi bi-check-circle-fill text-success mb-3" style="font-size: 3rem;"></i>
                <h4 class="mb-3">Pedido Finalizado!</h4>
                <p class="text-muted mb-4">Seu pedido foi registrado com sucesso.</p>
                <button type="button" class="btn btn-success mb-2 w-100" (click)="iniciarNovoPedido()">Iniciar Novo Pedido</button>
                <button type="button" class="btn btn-outline-secondary w-100" (click)="fecharTelaSucesso()">Fechar</button>
            </div>
        </div>
    }
    @if(exibirTelaErro){
        <div  class="fixed-top d-flex align-items-center justify-content-center" style="background: rgba(0,0,0,0.3); min-height: 100vh; z-index: 9999;">
            <div class="card shadow-lg text-center p-4" style="max-width: 350px;">
                <i class="bi bi-x-circle-fill text-danger mb-3" style="font-size: 3rem;"></i>
                <h4 class="mb-3"> Erro ao finalizar Pedido!</h4>
                <p class="text-muted mb-4">Ocorreu um erro ao registrar seu pedido.</p>
                <span>{{ mensagemErro }}</span>
                <button type="button" class="btn btn-success mb-2 w-100" (click)="iniciarNovoPedido()">Iniciar Novo Pedido</button>
                <button type="button" class="btn btn-outline-secondary w-100" (click)="fecharTelaErro()">Fechar</button>
            </div>
        </div>
    }


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>

</html>